body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #0070f3;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

main {
  padding: 20px;
}

.container {
  width: 40vw;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-radius: 5px;
}