.content-container {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Soft shadow */
  text-align: center;
  max-width: 450px;
  width: 90%; /* Responsive width */
}

.sign-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../assets/bg.jpg");
    background-size: cover; /* Optional: cover the entire container */
    background-position: center; /* Optional: center the image */
    font-family: Arial, sans-serif;
  }
  
  .sign-in-content {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  h3 {
    color: #333; /* Darker text for better readability */
    font-size: 28px;
    margin-bottom: 20px;
}
  
p {
  color: #555; /* Slightly lighter text */
  margin-bottom: 15px;
  font-weight: normal; /* Normal weight for better readability */
}
  
  button {
    background-color: white;
    color: black;
    border: none;
    padding: 12px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: black;
    color: white;
  }

  .signin-button {
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 8%;
  }
  
  .signin-button:hover {
    background-color: black;
    color: white;
  }

  a {
    color: #4285F4;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .api-input {
    padding: 10px;
    width: 23vw;
    height: 3vh;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none; /* Prevent resizing */
    background-color: whitesmoke; /* Dark background for textarea */
    color: black; /* Text color */
    margin-bottom: 15px;
    font-size: 16px;
}