langchain
langchain_community
langchain-google-genai
python-dotenv
langchain_experimental
sentence-transformers
langchain_chroma
langchainhub
pypdf
fastapi
uvicorn 
google-auth-oauthlib
alembic
pydantic
sqlalchemy